:root {
    --fg-text: #e7ecf1;
    --secondary-fg: #b3bc07;
    --bg: #2c3e50;
    --dark-bg: #212f3b;
  }


h1, h2, h3, p, span, div{
    color: var(--fg-text)
}

button {
  background-color: var(--secondary-fg);
  color: var(--bg);
  border-radius:10px;
  padding: 1vw;
  font-size: 1vw;

}